*{
    margin:0;
    padding:0;
    text-decoration: none;
}


.sidebar{
    background-color: rgba(9,26,82,255);
    color: #fff;
    height: 100vh;
    width: auto;
    transition: all 0.5s;
}

.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}

.logo{
    font-size: 25px;
}

.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}

.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

.link:hover{
    background:#33416e;
    color: white;
    transition: all 0.5s;
}

.active{
    background: #33416e;
    color: white;
}

.icon, .link_text{
    font-size: 20px;
}
.avatar_Sidebar{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto; 
    display: block; 
    border-style: solid;
}

.avatar_Sidebar:hover{
    opacity: 0.7;
    background-color: bisque;
}
.avatar_Sidebar:active{
    opacity: 0.9;
    background-color: bisque;
}

.Heder_Sidebar{
    background-image: url("./../../image/bg-login.jpg");
    background-size: cover;
    padding: 23px;
    width: auto;
    display: block;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 100px 400px 1fr 80px 80px 80px;
}

.bell_img_Sidebar{
    width: 40px;
}

.logo_Sidebar{
    width: 100px;
}

.shop-cart_Sidebar{
    width: 40px;
    align-items: center;
}

.shop-cart_Sidebar:hover{
    opacity: 0.7;
    background-color: bisque;
    border-radius: 50%;
}

.shop-cart_Sidebar:active{
    opacity: 0.8;
    background-color: bisque;
}

.box_tap{
    color: white;
    position: absolute;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    padding: 10px;
    right: 40px;
    margin-top: 10px;
    background-image: url("./../../image/bg-login.jpg");
    background-size: cover;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    border-radius: 10px;
}

.box_tap button {
    display: grid;
    grid-template-columns: 1fr 90px;
    padding: 2px 10px 0 5px;
}
.box_tap button:hover{
    opacity: 0.9;
    background-color: rgba(255, 228, 196, 0.547);
    border-radius: 5px;
    padding: 2px 10px 0 5px;
}
.box_tap button:active{
    opacity: 0.7;
    background-color: rgba(255, 228, 196, 0.547);
}

.icon_tap{
    margin: 0 0 5px 0px;
    width: 20px;
    height: 30px;
}


/* dark mode */
.dark_mode {
    margin-top: -10px;
    margin-right: 50px;
}

.dark_mode_label {
    width: 65px;
    height: 30px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
        inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}
.dark_mode_label:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.dark_mode_input {
    width: 0;
    height: 0;
    visibility: hidden;
}
.dark_mode_input:checked + .dark_mode_label {
    background: #242424;
}
.dark_mode_input:checked + .dark_mode_label:after {
    left: 62px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}
.dark_mode_label:active:after {
    width: 30px;
}

.dark_mode_label svg {
    position: absolute;
    width: 20px;
    top: 5px;
    z-index: 100;
}
.dark_mode_label svg.sun {
    left: 5px;
    fill: #fff;
    transition: 0.3s;
}
.dark_mode_label svg.moon {
    left: 40px;
    fill: #7e7e7e;
    transition: 0.3s;
}
.dark_mode_input:checked + .dark_mode_label svg.sun {
    fill: #7e7e7e;
}
.dark_mode_input:checked + .dark_mode_label svg.moon {
    fill: #fff;
}
