.body_login{
    background-image: url("./../../image/bg-login.jpg");
    background-size: cover;
}

.bg-font{
    background-color:rgba(255, 255, 255, 0.921);
}
.img-font{
    background-color: rgba(194, 10, 235, 0.2);
    background-image: url("D:\Gitkaraken\react\web\src\image\bg-log.jpg");
    background-size: cover;
    width: 230pt;
    height: 340pt;
}

.button_login{
    background-image: url("./../../image/bg-login.jpg");
    background-size: cover;
}

.button_login:hover{
    background-color: #00314ca6;
}
.text{
    color: #00273cfd;
}