.body_regiter{
    background-image: url("./../../image/bg-login.jpg");
    background-size: cover;
}

.button_reginster{
    background-image: url("./../../image/bg-login.jpg");
    background-size: cover;
    
}
.button_reginster:hover{
    background-color: #00314ca6;
}
.text{
    color: #00273cfd;
}