.chart{
    display: grid;
    width: auto;
    grid-template-columns: repeat(3,1fr);
    margin-left: 20px;
    gap: 20px;
}

.TongDoanhThu{
    background-color: aqua;
    border-radius: 10px;
    padding: 30px;
    grid-column: 1 / 3;
}

.TyLeMuaMonAn{
    background-color: aqua;
    border-radius: 10px;
    padding: 30px;
}

.DoanhThu{
    background-color: aqua;
    height: 140px;
    text-align: center;
    border-radius: 10px;
    padding-top: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    grid-area: 2;

}
.LoiNhuan{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin-top: 70px;
    border-radius: 10px;
    background-color: aqua;
    height: 140px;
}
.LoiNhuanMonAn{
    background-color: aqua;
    border-radius: 10px;
    padding: 30px;
    height: 320px;
}
.DoanhThuVSLoiNhuan{
    background-color: aqua;
    border-radius: 10px;
    padding: 30px;
    grid-row: 2 / span 2;
    height: 320px;
}

.TyLeMuaNuoc{
    background-color: aqua;
    border-radius: 10px;
    padding: 30px;
}
.LoiNhuanNuoc{
    background-color: aqua;
    border-radius: 10px;
    padding: 30px;
    height: 360px;
    grid-column: 1/3;
}