.fontpayment{
    margin-left: 5%;
    background-color: #edf2fc;
    width: auto;
    height:auto;
    border-radius: 10px;
    padding: 30px 30px 30px 40px;
    margin: 0 100px 100px 100px;
}
.table_name_payment{
    display: grid;
    grid-template-columns: 130px 240px 1fr 300px 150px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 10px;
}
.product{
    display: grid;
    grid-template-columns: 112px 240px 1fr 300px 130px;
    width: auto;
    height: 80px;
    background-color: bisque;
    border-radius: 10px;
    padding: 20px 20px 20px 40px ;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
.product img{
    width: 50px;
    height: 50px;
    background-size: cover;
    padding-bottom: 10px;
}

.pay{
    background-image: url("./../../image/bg-login.jpg");
    background-size: cover;
    padding: 20px 300px 20px 0;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 300px 250px 1fr 300px;
    color: white;
    width: 100%;
}

.button_mua{
    padding: 15px;
    margin-left: 80px;
} 
.button_huy{
    padding: 15px;
    margin-left: 20px;
}
.TongTien{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
}