.local{
    margin-left: calc(100vh - 40%);
    
}

.style{
    background-image: url("./../../image/bg-login.jpg");
    background-size: cover;
    
}

.avatar_TaiKhoan{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto; 
    display: block; 
    border-style: solid;
}

.button{
    display: inline;
}
.Box_TaiKhoan{
    margin-left: 5%;
    /* background-color: #edf2fc; */
    background-color: lightblue;
    width: auto;
    height:100%;
    border-radius: 10px;
    padding: 30px 30px 30px 40px;
    margin: 0 50px 80px 50px;
    display: grid;
    grid-template-columns: 300px 1fr;
}

.Bchange_avatar:hover{
    opacity: 0.3;
}
.Bchange_avatar:active{
    opacity: 0.8;
}
.HoTen{
    margin-top: 30px;
    display: flex;   
}

.Button_TK{
    background-color: #1c64f2;
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 75px;
    margin-top: 30px;
}

.DoiMatKhau{
    display: flex; 
    margin-top: 40px;
}
.changeEmail{
    display: flex;
    margin-top: 40px;
}

.button_email:hover{
    opacity: 0.9;
}
.button_email:active{
    opacity: 0.8;
}

.input_TK{
    padding: 10px;
    width: 280px;
    border-radius: 5px;
    border-color: rgba(9, 9, 9, 0.359);
    border-width: 1px;
}