:root{
    --height: 280px;
    --width : 210px;
    margin: 0;
    padding: 0;
}

[data-theme="dark"]{
    --body_background :#282c34;
    --body_color :white;
    --link_color:cyan;
}

.food_gird {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 10px 0 10px 30px ;
    grid-gap: 30px;
    width: auto;
}

.menu{
    background-color: rgba(9,26,82,255);
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    width: auto;
}

.drink{
    margin-top: 20px;
}


.block{
    height: calc(var(--height ) + 84px );
    width: var(--width);
    border-color: #044c6f;
    border-style: solid;
    border-width: 5px;
    margin-left: 10px;
    
}
.block p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    font-size: 20px;
}

.block button:hover{
    opacity: 0.95;
}

.button_buy{
    background-image: url("./../../image/bg-login.jpg");
    background-size: cover;
    color: white;
    width: 201px;
    padding: 10px;
    margin-left: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.button_add{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.button_add div{
    background-color: var(--body_background);
    text-align: center;
    margin-top: 10px;
}

.button_add button{
    background-image: url("./../../image/bg-login.jpg");
    background-size: cover;
    color: white;
    padding: 5px;
    margin: 5px;
}

.block img{
    background-size: cover;
    width: calc(var(--width) + 0px);
    height: calc(var(--height) - 53px);
    border-top: 2px solid #044c6f;
    border-bottom: 2px solid #044c6f;
}

.img-pho-ga{
    background-image: url("./../../image/menu/pho-ga.jpg"); 
}

.hambeger{
    background-image: url("./../../image/menu/Cheeseburger.jpg");
    
}
.burito{
    background-image: url("./../../image/menu/Burrito.JPG");
}

.com-ga{
    background-image: url("./../../image/menu/com-ga.jpg");
}
.KhoaiTayChien{
    background-image: url("./../../image/menu/KhaiTayChien.jpg");
}

.banh-mi{
    background-image: url("./../../image/menu/banh-mi.jpg");
}
.sushi{
    background-image: url("./../../image/menu/sushi.jpg");
}

.BanhSuonBo{
    background-image: url("./../../image/menu/banhsuonbo.jpg");
}

.micay{
    background-image: url("./../../image/menu/micay.jpg");
}
.banhcuon{
    background-image: url("./../../image/menu/banhcuon.jpg");
}

.Coca-cola{
    background-image: url("./../../image/menu/cocacola.jpg");
}

.Pesi{
    background-image: url("./../../image/menu/pesi.jpg");
}

.NuocLoc{
    background-image: url("./../../image/menu/nuocloc.jpg");
}
.Nuoccam{
    background-image: url("./../../image/menu/nuoc-cam-ep.jpg");
}
.Trabidao{
    background-image: url("./../../image/menu/trabidao.jpg");
}
.Trasua{
    background-image: url("./../../image/menu/sp-tra-sua-matcha.jpg");
}
.Nuocmia{
    background-image: url("./../../image/menu/nuocmia.png");
}

.Nuocdua{
    background-image: url("./../../image/menu/nuocdua.jpg");
}
.Nuoctao{
    background-image: url("./../../image/menu/nuoctao.jpg");
}
.Monster{
    background-image: url("./../../image/menu/monster.jpg");
}