@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --body_background :white;
  --body_color :black;
  --link_color:navy;
}

[data-theme="dark"]{
  --body_background :#282c34;
  --body_color :white;
  --link_color:cyan;
}
body{
  background-color: var(--body_background);
}